<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>9to5it.com.alfred.parallels.manager</string>
	<key>connections</key>
	<dict>
		<key>A1BF71B6-7BDC-43E7-AEA4-E4B21FDC3446</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2638ADA-FD94-4E32-AC89-4576FD573DB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>BE153602-5D2F-4D7E-8D8D-3A6397FBAA29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFB6977E-DB04-4365-B27A-8A379B7B8323</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2638ADA-FD94-4E32-AC89-4576FD573DB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE153602-5D2F-4D7E-8D8D-3A6397FBAA29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFB6977E-DB04-4365-B27A-8A379B7B8323</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4784EF3-FCEB-4FC8-A689-DC7FCC7110C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Luca Sturlese</string>
	<key>description</key>
	<string>Manage Parallels VMs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Parallels Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-parallelsmanager.sh $vmid $action</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E4784EF3-FCEB-4FC8-A689-DC7FCC7110C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>1</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xpvm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting list of Parallels VMs...</string>
				<key>script</key>
				<string>./alfred-parallelsmanager.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Manage Parallels VMs...</string>
				<key>title</key>
				<string>Parallels Manager</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A1BF71B6-7BDC-43E7-AEA4-E4B21FDC3446</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"34023447315a103a47775aa1c5f7eda69e691667.png","title":"Start","arg":"start"},{"imagefile":"097725793858d6548820e3a818ecbe35eed12c1d.png","title":"Stop","arg":"stop"},{"imagefile":"cf49febe7d4bbc9b04885e34c691436200d42de7.png","title":"Restart","arg":"restart"},{"imagefile":"bfdbe4b827bb566374e07b071664b70464ebca29.png","title":"Suspend","arg":"suspend"},{"imagefile":"1d391a93f2316f0d242c62ad46a7a26591904f52.png","title":"Pause","arg":"pause"},{"imagefile":"c19d8a3ab9875b1c65d2b8e1aba52413b9b42233.png","title":"Resume","arg":"resume"}]</string>
				<key>keyword</key>
				<string>2xpvm</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Select an action</string>
				<key>title</key>
				<string>VM Actions</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>BE153602-5D2F-4D7E-8D8D-3A6397FBAA29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EFB6977E-DB04-4365-B27A-8A379B7B8323</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>vmid</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C2638ADA-FD94-4E32-AC89-4576FD573DB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This is an Alfred Workflow which is used to manage all of your Parallels VMs (virtual machines). The options available are:

- Start
- Stop
- Restart
- Suspend
- Pause
- Resume

Note: Must have jq installed in /usr/local/bin for this to function. jq is a command-line JSON processor. For more information and to install jq visit https://stedolan.github.io/jq/</string>
	<key>uidata</key>
	<dict>
		<key>A1BF71B6-7BDC-43E7-AEA4-E4B21FDC3446</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>BE153602-5D2F-4D7E-8D8D-3A6397FBAA29</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>C2638ADA-FD94-4E32-AC89-4576FD573DB5</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>E4784EF3-FCEB-4FC8-A689-DC7FCC7110C8</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>EFB6977E-DB04-4365-B27A-8A379B7B8323</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>http://9to5it.com</string>
</dict>
</plist>
